{{#each results}}{{#unless this.isSaved}}
<div class="row">
    <div class="col s12">
        <div class="card grey">
            <div class="card-content white-text">
                <h4 class="headline">{{title}}</a></h4>
                <h6 class="byline">{{byline}}</h6>
                <h6 class="date">{{date}}</h6>
                <h5 class="summary">{{summary}}</h5>
                <br>
                <a class="article-link" href="{{link}}" target="_blank">Link to Article</a>
                <br>
                <br>
                <form action="/saved/{{_id}}" method="POST">
                    <button type="submit" id="saveArticle" class="btn">Save Article</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/unless}}{{/each}}