{{#each results mode="prepend"}} {{#if this.isSaved}}
<div class="row">
    <div class="col s12">
        <div class="card some-results grey">
            <div class="card-content white-text">
                <h4 class="headline">{{this.title}}</a></h4>
                <h6 class="byline">{{this.byline}}</h6>
                <h6 class="date">{{this.date}}</h6>
                <h5 class="summary">{{this.summary}}</h5>
                <br>
                <a class="article-link" href="{{this.link}}" target="_blank">Full Article</a>
                <br>
                <br>
                {{!-- <button class="addNote btn float-left" data-artid="{{this._id}}" data-noteid="{{this.note.type}}">Comments</button> --}}
                <form action="/article/{{_id}}" method="POST">
                    <button class="delete btn float-left" data-artid="{{this._id}}" data-noteid="{{this.note.type}}">Delete Article</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}{{/each}}
