{{#each results}} {{#if this.isSaved}}
<div class="row">
    <div class="col s12">
        <div class="card some-results blue-grey darken-1">
            <div class="card-content white-text">
                <h4 class="headline">{{this.title}}</a></h4>
                <h6 class="byline">{{this.byline}}</h6>
                <h6 class="date">{{this.date}}</h6>
                <h5 class="summary">{{this.summary}}</h5>
                <br>
                <a class="article-link" href="{{this.link}}" target="_blank">Link to Article</a>
                <br>
                <br>
                <button class="addComment btn float-left" data-artid="{{this._id}}" data-noteid="{{this.note.type}}">Article Comments</button>
                <button class="btn float-left" data-artid="{{this._id}}" data-noteid="{{this.note.type}}">Delete Article</button>
            </div>
        </div>
    </div>
</div>
{{/if}}{{/each}}